<h1><%= @list.name %></h1>
<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <img src= <%= bookmark.movie.poster_url %> alt="">
    <li>
      <%= bookmark.movie.title %>
    </li>
    <li>
      <%= bookmark.movie.overview %>
    </li>
    <li>
      <%= bookmark.movie.rating %>
    </li>
    <li>
      <%= bookmark.comment %>
    </li>
    <li>
      <%= link_to "delete Bookmark", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    </li>
  <% end %>
</ul>
<%= link_to "Add movies", new_list_bookmark_path(@list), class: "btn btn-primary" %>
<%= link_to "Back to Movie lists", lists_index_path, class: "btn btn-primary" %>
